<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Cod's REALLY COOL Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div>
      <h1>Welcome to Team Cod's application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       location: <input name="location" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>